.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.scale-animation-enter {
    transform: scale(0.8);
}
.scale-animation-enter-active {
    transform: scale(1);
    transition: transform 400ms ease-in-out;
}
.scale-animation-exit {
    transform: scale(1);
}
.scale-animation-exit-active {
    transform: scale(0.8);
    transition: transform 400ms ease-in-out;
}
